.container {
    width: 900px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0 0 5px 1px #e6e6e6;
    padding-bottom: 20px;
    font-family: 'Roboto', Arial;
    padding: 10px;
    border-radius: 10px;
}

.title-add-item {
    background-color: #cacaca;
    border-bottom: 1.5px solid gray;
    padding: 5px;
    text-align: center;
    font-weight: 500;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-group {
    margin: 0 10px;
    padding: 15px 10px;
}

.part {
    margin: 30px 0;
}

.span-title {
        font-size: 1.3em;
        font-weight: 500;
}

.div-name-item {
    display: flex;
    justify-content: space-between;
}

.div-name-item label {
    position: relative;
    top: 3px;
}

.div-name-item input {
    position: relative;
    right: 0%;
    height: 30px;
    width: 600px;
    border: 1px solid black;
    border-radius: 10px;
}

.div-cat-item {
    display: flex;
    justify-content: space-between;
}

.div-cat-item label {
    position: relative;
    top: 3px;
}

.div-cat-item input {
    position: relative;
    right: 0%;
    height: 30px;
    width: 600px;
    border: 1px solid black;
    border-radius: 10px;
}

.div-desc-item {
    display: flex;
    justify-content: space-between;
}

.div-desc-item label {
    position: relative;
    top: 3px;
}

.div-desc-item textarea {
    position: relative;
    right: 0%;
    border: 1px solid black;
    border-radius: 10px;
}

.div-price-item-noTAX {
    display: flex;
}

.div-price-item-noTAX input {
    border: 1px solid black;
    border-radius: 10px;
    height: 25px;
    margin-left: 10px;
}

.price-item-TAX span {
    font-weight: 500;
}

.div-img-item {
    display: flex;
    justify-content: space-between;
}

.div-img-item label {
    position: relative;
    top: 3px;
}

.div-img-item input {
    position: relative;
    right: 0%;
    height: 30px;
    width: 600px;
    border: 1px solid black;
    border-radius: 10px;
}

.feature > div {
    display: flex;
    justify-content: space-between;
}

.feature label {
    position: relative;
    top: 3px;
}

.feature input {
    position: relative;
    right: 0%;
    height: 30px;
    width: 600px;
    border: 1px solid black;
    border-radius: 10px;
}

.div-desc-item label{
    vertical-align: top;
}

.div-quantity-item input {
    position: relative;
    left: 20px;
    height: 30px;
    width: 60px;
    text-align: center;
}

.div-quantity-item input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    height: 30px;
}

.div-connectivity-item {
    display: flex;
    justify-content: space-between;
}

.div-connectivity-item label {
    position: relative;
    top: 3px;
}

.div-connectivity-item textarea {
    position: relative;
    right: 0%;
    border: 1px solid black;
    border-radius: 10px;
}

#last-form-group {
    position: relative;
    top: 10px;
    text-align: center;
}

#last-form-group button {
    width: 50%;
    margin: auto;
}

.add-item button {
    position: relative;
    bottom: 20px;
    padding: 10px 20px;
    color: black;
    border: none;
    background-color: rgba(253, 225, 46, 0.813);
    box-shadow: 2px 2px 3px 1px #cacaca;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
}

.add-item button:hover {
    transition: all .1s linear;
    box-shadow: 2px 2px 3px 1px gray;
}

@media screen and (max-width : 920px) {
    .container {
        width: 100%;
    }

    .form-group {
        padding: 15px 0;
    }

    .div-name-item {
        display: block;
    }

    .div-name-item label {
        position: relative;
        top: 0px;
    }

    .div-name-item input {
        width: 100%;
    }

    .div-cat-item {
        display: block;
    }

    .div-cat-item label {
        position: relative;
        top: 0px;
    }

    .div-cat-item input {
        width: 100%;
    }

    .div-desc-item {
        display: block;
    }

    .div-desc-item label {
        position: relative;
        top: 0px;
    }

    .div-desc-item textarea {
        width: 100%;
    }

    .div-price-item-noTAX {
        display: block;
    }

    .div-img-item {
        display: block;
    }

    .div-img-item label {
        position: relative;
        top: 0px;
    }

    .div-img-item input {
        width: 100%;
    }

    .feature>div {
        display: block;
    }


    .feature input {
        width: 100%;
    }

    .div-connectivity-item {
        display: block;
    }

    .div-connectivity-item textarea {
        width: 100%;
    }

    #last-form-group button {
        width: 100%;
    }
}