.container {
    width: 95%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.l-side {
    width: 70%;
    height: 100%;
    box-shadow: 0 0 5px 1px #e6e6e6;
    padding-bottom: 20px;
}

.your-bag {
    background-color: #e0dddd;
    font-family: 'Roboto', serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.1em;
    padding: 5px;
    border-bottom: 1.5px solid gray;
    margin-bottom: 10px;
}

.div-item {
    background-color: white;
    width: 100%;
    height: 140px;
    display: flex;
    padding: 10px;
}

.div-img {
    display: flex;
}

.div-desc {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 30px;
    width: 100%;
}

.div-name-available {
    width: 70%;
    min-width: 250px;
    text-transform: uppercase;
    font-family: 'Roboto', Arial;
}

.name {
    font-size: 1em;
    margin-bottom: 10px;
}

.a-name {
    text-decoration: none;
    color: black;
}

.a-name:hover {
    text-decoration: underline;
}

.available {
    color: rgba(0, 128, 0, 0.55);
    font-size: 1em;
}

.div-quantity {
    width: 140px;
}

.div-quantity input {
    position: relative;
    bottom: 3px;
    height: 30px;
    width: 40px;
    text-align: center;
}

.div-quantity input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    height: 30px;
}

.price {
    display: inline-block;
    font-family: 'Roboto', Arial;
    font-size: 1.2em;
    font-weight: 500;
}

.div-action {
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0 10px;
    font-size: 1.2em;
    color: gray;
    cursor: pointer;
    height: 30px;
}

.div-action:hover {
    color: rgba(220, 0, 0, 0.75);
    transition: all .1s linear;
}

.div-action i {
    position: relative;
    top: 2px;
}

.r-side {
    width: 400px;
}

.r-overview {
    position: relative;
    top: 50px;
    font-family: 'Roboto', Arial;
    width: 90%;
    margin: auto;
    margin-right: 0;
    box-shadow: 0 0 5px 1px #e6e6e6;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.r-top h2 {
    font-weight: 500;
    font-size: 1.3em;
    text-align: center;
    padding: 10px 0px;
    background-color: #e0dddd;
    border-bottom: 1.5px solid gray;
}

.r-middle {
    width: 90%;
    height: 1.5px;
    background-color: #e6e6e6;
    border-radius: 10px;
    margin: auto;
}

.r-bottom {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 15px;
}

.r-nb-item {
    margin-bottom: 20px;
}

.r-nb-item span {
    font-weight: 600;
}

.r-delivery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.price-delivery {
    text-transform: uppercase;
    color: rgba(0, 128, 0, 0.55);
    font-weight: 500;
}

.r-price-noTAX {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.price-price-noTAX {
    font-weight: 500;
}

.r-price-TAX {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.price-price-TAX {
    font-weight: 500;
}

.r-discount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.price-discount {
    font-weight: 500;
}

.r-TT {
    display: flex;
    margin-top: -10px;
    justify-content: space-between;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 20px;
}

.r-btn-buy {
    display: flex;
    margin: auto;
    justify-content: center;
}

.btn-buy {
    width: 90%;
    text-transform: uppercase;
    font-family: 'Roboto', Arial;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: -.5px;
    padding: 7px 25px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 3px 1px #cacaca;
    background-color: rgba(253, 225, 46, 0.813);
}

.btn-buy:hover {
    transition: all .2s ease-in-out;
    box-shadow: 2px 2px 3px 1px gray;
}


.sumbit-form {
    margin-left: 40%;
    margin-top: 20px;
    height: 30px;
    width: 140px;
    text-align: center;

}

@keyframes gradient {
    0% {
        background: radial-gradient(circle at center, rgba(150, 255, 200, 0) 0%, #fff 0%, #fff 100%);
    }

    25% {
        background: radial-gradient(circle at center, rgba(150, 255, 200, 0.3) 24%, #fff 25%, #fff 100%);
    }

    50% {
        background: radial-gradient(circle at center, rgba(150, 255, 200, 0.5) 49%, #fff 50%, #fff 100%);
    }

    75% {
        background: radial-gradient(circle at center, rgba(150, 255, 200, 0.8) 74%, #fff 75%, #fff 100%);
    }

    100% {
        color: #fff;
        background: radial-gradient(circle at center, rgb(150, 255, 200) 99%, #fff 100%, #fff 100%);
    }
}

.btn-buy:active {
    animation: gradient 75ms;
    background: lightgreen;
    box-shadow: none;
}

#p_empty {
    font-size: 1.5em;
    font-family: 'Roboto', Arial;
    text-align: center;
}

@media screen and (max-width : 1050px) {
    .container {
        width: 100%;
        display: block;
    }

    .l-side {
        width: 100%;
    }

    .r-side{
        width: 75%;
        margin: auto;
    }

    .btn-buy {
        width: 60%;
    }
}

@media screen and (max-width : 666px) {
    
    .div-item {
            display: block;
            height: 100%;
        }

        .div-img img {
            display: flex;
            width: 200px;
            margin: auto;
        }

        .div-desc {
            display: block;
            margin: 10px 0;
            padding-left: 10px;
            text-align: center;
        }

        .div-name-available {
            width: 100%;
        }

        .available {
            margin-bottom: 10px;
        }

        .div-quantity {
            width: 100%;
        }

        .r-side {
            width: 100%;
            margin: 0;
        }

        .r-overview {
            width: 100%;
        }
}